.Sidebar {
  min-height: 100vh;
  background: rgb(54, 179, 223);
  background: linear-gradient(
    349deg,
    rgba(54, 179, 223, 1) 0%,
    rgba(17, 131, 217, 1) 100%
  );
  width: 280px;
  .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    img {
      width: 45px;
      margin-right: 10px;
    }
    h3 {
      color: #ffffff;
    }
  }
  .sidebar-menu {
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    a {
      display: block;
      width: 100%;
      color: #ffffff;
      padding: 15px 25px;
      border-radius: 50px 0 0 50px;
      margin-bottom: 15px;
      &:hover {
        color: #000000;
      }
    }
    .active {
      background-color: #ffffff;
      color: #222425;
    }
  }
}
