* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
}

.App {
  .parent-flex {
    display: flex;
    .parent-right {
      width: 100%;
    }
  }
  button {
    cursor: pointer;
  }
  .install-mm {
    position: fixed;
    top: 45%;
    left: calc(43% + 250px);
    transform: translate(-50%, -50%);
    text-decoration: underline;
  }
}
